h1 {
    color:#005522;
    font-family:monospace;
    font-size:28px
}

h2 {
    color:#005522;
    font-family:monospace;
    font-size:20px
}

p {
    color:#003100;
    font-family:monospace;
    font-size:14px
}

li {
    color:#003100;
    font-family:monospace;
    font-size:14px
}

a:link {
    color:#209a20;
    font-weight:bold;
    background-color:#cfcfaa;
    font-family:monospace;
    font-size:14px
}

a:visited {
    color:#205769;
    font-family:monospace
}

a:hover {
    color:#209a20;
    background-color:#003100;
    font-family:monospace
}

a:active {
    color:#003100;
    background-color:#209a20;
    font-family:monospace
}

img {
    border-radius:10px;
}

th {
    color:#003100;
    font-weight:bold;
    font-family:monospace;
    font-size:16px
}

tr {
    color:#003100;
    font-family:monospace;
    font-size:14px
}

body {
    background-color:#cfffdd
}

.div1 {
    width:60%;
    float:left;
    text-align:justify
}

.div2 {
    width:30%;
    float:right;
    transition:width 0.5s ease
}

.div2:hover {
    width:35%;
    float:right
}